.block-cat__image {
  position: relative;
  display: block;
  width: 320px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
}

.block-cat__switch {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}


@media (min-width: @tablet-width) {
  .block-cat__image img {
    width: 296px;
    height: 511px;
  }
}

@media (min-width: @desktop-width) {
  .block-cat__image {
    display: inline-block;
    position: absolute;
    right: 108px;
    bottom: 50px;
  }

  .block-cat__switch {
    position: absolute;
    right: 200px;
    bottom: 30px;
  }
}
