.block-cat__image {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block-cat__switch {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}

@media (min-width: @tablet-width) {
  .block-cat__image {
    width: 592px;
    height: 511px;
    margin-top: -25px;
  }

  .block-cat__switch {
    margin-top: 85px;
  }
}

@media (min-width: @desktop-width) {
  .block-cat__image {
    display: inline-block;
    position: absolute;
    right: -10px;
    bottom: 30px;
    margin-bottom: 28px;
  }

  .block-cat__switch {
    position: absolute;
    right: 120px;
    bottom: 100px;
  }
}
