.button {
  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(@white, 0.3);
  }
}

.button--primary {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  padding: 10px 109px;
  background-color: @basic_green;
  text-decoration: none;
  color: @white;
  margin-top: 13px;
  margin-bottom: 25px;
  grid-area: button-primary;
}

.button--primary-extra {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  padding: 8px 109px;
  background-color: @basic_green;
  text-decoration: none;
  color: @white;
  margin-top: 22px;
}

.button--secondary {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  padding: 10px 94px;
  background-color: @basic_grey;
  text-decoration: none;
  color: #444444;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .button--primary-extra {
    display: block;
    margin-top: 22px;
    padding: 10px 109px;
  }

  .button--secondary {
    margin-top: auto;
    padding: 10px 50px;
    margin-left: 37px;
    margin-right: 37px;
    margin-bottom: 35px;
  }

  .button--primary {
    padding: 10px 93px;
    margin-bottom: 35px;
    margin-top: 27px;
  }
}

@media (min-width: @desktop-width) {
  .button--primary-extra {
    display: flex;
    margin-left: 40px;
    margin-top: 11px;
    margin-bottom: 10px;
    align-items: flex-end;
    padding: 10px 91px;
  }

  .button--primary {
    padding: 10px 53px;
  }

  .button--secondary {
    padding: 10px 39px;
  }
}
