.checkbox__option {
  padding-left: 45px;
  padding-bottom: 12px;
  padding-top: 12px;
  background: url("../img/checkbox_option.svg") no-repeat;
  background-position: left center;
}

.checkbox__field:checked + label {
  background: url("../img/checkbox_active.svg") no-repeat;
  background-position: left center;
}

.checkbox__field:disabled + label {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .checkbox {
    display: grid;
    grid-template-columns: 345px 300px;
  }

  .checkbox__option {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
    margin-top: 44px;
    margin-bottom: -26px;
    background: url("../img/checkbox_option_tablet.svg") no-repeat;
    background-position: left center;
  }


  .checkbox__field:checked + label {
    background: url("../img/checkbox_option_active_tablet.svg") no-repeat;
    background-position: left center;
  }
}

@media (min-width: @desktop-width) {
  .checkbox {
    grid-template-columns: 325px 325px 325px 285px;
  }

  .checkbox__option {
    margin-top: 46px;
  }
}
