.contacts-info {
  position: relative;
}

.contacts-info__text-field {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 13px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: @special_dark-grey;
}

.contacts-info__text-field input {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;
  padding-left: 13px;
  padding-top: 16px;
  padding-bottom: 9px;
  margin-left: 12px;
  border: 1px solid @special_light-grey;
  flex: 1;
}

.contacts-info__text-field__input::placeholder {
  color: @special_dark-grey;
}

.contacts-info__icon--phone {
  position: absolute;
  top: 85px;
  right: 12px;
}

.contacts-info__icon--email {
  position: absolute;
  top: 30px;
  right: 13px;
}

.contacts-info__text-field__input--invalid {
  border: 2px solid @coral;
}

.contacts-info__text-field__input:hover {
  outline: 1px solid @special_grey;
}

.contacts-info__text-field__input:focus {
  outline: 2px solid @special_dark-grey;
}

@media (min-width: @tablet-width) {
  .contacts-info__text-field input {
    font-size: 20px;
    line-height: 30px;
    padding-left: 26px;
    padding-top: 8px;
    padding-bottom: 12px;
    margin-left: 15px;
  }

  .contacts-info__text-field--phone input {
    padding-left: 19px;
  }

  .contacts-info__text-field label {
    margin-bottom: 5px;
  }

  .contacts-info__text-field {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
  }

  .contacts-info__icon--phone {
    top: 100px;
    right: 13px;
  }

  .contacts-info__icon--email {
    top: 30px;
    right: 17px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-info {
    display: grid;
    grid-template-columns: 645px 645px;
    align-items: center;
  }

  .contacts-info__text-field {
    margin-right: 90px;
  }

  .contacts-info__text-field input {
    padding-left: 18px;
    margin-left: 20px;
    margin-right: -20px;
  }

  .contacts-info__icon--phone {
    top: 30px;
    right: 17px;
  }

  .contacts-info__icon--email {
    top: 30px;
    left: 532px;
  }
}
