.contacts {
  padding-bottom: 11px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contacts--white {
  background-color: @white;
}

.contacts--grey {
  background-color: @basic_grey;
}

.contacts__appeal {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin-left: 20px;
}

.contacts__adress {
  font-family: @font-arial;
  font-size: 14px;
  line-height: 20px;
  color: @special_dark-grey;
}

.contacts__adress--city {
  margin-top: -11px;
}


@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 60px;
    padding-bottom: 56px;
    position: relative;
  }

  .contacts__adress {
    width: 160px;
    position: absolute;
    right: 70px;
    top: 40px;
    font-size: 16px;
    text-align: end;
  }

  .contacts__appeal {
    font-size: 20px;
    line-height: 26px;
    margin-left: 70px;
    font-weight: 400;
    width: 200px;
  }

  .contacts__adress--city {
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .contacts--mini {
    background-color: @white;
    position: absolute;
    z-index: 100;
    width: 565px;
    height: 198px;
    padding: 0;
    bottom: 258px;
    left: 110px;
  }

  .contacts__appeal {
    margin-left: 80px;
  }

  .contacts__adress {
    text-align: left;
    right: 75px;
    top: 40px;
  }

  .contacts__adress--city {
    padding-top: 0;
  }
}
