.example-information {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "kilograms days"
    "slim time"
    "cost cost";
}

.example-information__number--kilograms {
  grid-area: kilograms;
  margin-right: 95px;
}

.example-information__description--slim {
  grid-area: slim;
}

.example-information__number--days {
  grid-area: days;
}

.example-information__description--time {
  grid-area: time;
}

.example-information__cost {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: @black;
  text-transform: uppercase;
  grid-area: cost;
  margin-top: 24px;
}

.example-information__number {
  font-size: 24px;
  line-height: 24px;
  color: @black;
  text-transform: uppercase;
}

.example-information__description {
  font-family: @font-arial;
  font-size: 12px;
  line-height: 12px;
  color: @special_dark-grey;
  padding-top: 9px;
}
