.extra-products {
  position: relative;
}

.extra-products__wrapper {
  margin-top: 15px;
  border-top: 1px solid @special_grey;
  margin-right: 20px;
  margin-left: 20px;
}

.extra-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 60px;
  margin-left: 19px;
  padding-right: 20px;
  position: relative;
  display: inline-block;
  background-color: @white;
}

.extra-products__title::after {
  content: "";
  position: absolute;
  top: 13px;
  width: 100vw;
  height: 2px;
  margin-top: 3px;
  background: @basic_green;
  z-index: -1;
  left: 20px;
}

.extra-products__title::before {
  right: 0;
}

.extra-products__list {
  list-style-type: none;
  display: grid;
  margin: 0 auto;
  padding: 0;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .extra-products__list {
    width: auto;
    border: 1px solid @special_grey;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 37px;
    padding-right: 37px;
  }

  .extra-products__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-left: 30px;
    margin-top: 63px;
    padding-left: 37px;
    padding-right: 36px;
  }

  .extra-products__title::before,
  .extra-products__title::after {
    content: "";
    position: absolute;
    top: 20px;
    width: 100vw;
    height: 2px;
    margin-top: 2px;
    background: @basic_green;
    z-index: -1;
  }

  .extra-products__wrapper {
    border-top: none;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .extra-products__title {
    margin-left: 70px;
    padding-left: 40px;
    margin-top: 60px;
  }

  .extra-products__list {
    display: flex;
    flex-direction: column;
    border: none;
    width: 895px;
  }

  .extra-products__wrapper {
    width: 894px;
    justify-content: space-between;
    margin-left: 45px;
    margin-top: 49px;
  }

  .extra-products {
    margin-bottom: 88px;
  }

  .extra-products__item {
    display: flex;
  }

  .extra-products__item:nth-child(1) {
    border-top: 1px solid @special_grey;
  }
}
