.form__main-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.form__slogan {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.form__main {
  color: #444444;
}

.form__radio {
  display: flex;
  flex-direction: column;
  color: #222222;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
}

.form__comment textarea {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 37px;
  padding-top: 10px;
  width: 320px;
  height: 150px;
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
}

.form__contacts-info {
  display: flex;
  flex-direction: column;
}

.form__checkbox {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  padding: 7px 44px;
  background-color: @basic_green;
  text-decoration: none;
  color: @white;
  display: flex;
  margin: 0 auto;
  margin-top: 34px;
}

.form__sure-fields {
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  margin-top: 21px;
}

@media (min-width: @tablet-width) {
  .form {
    width: 630px;
    margin: 0 auto;
  }

  .form__radio {
    margin-top: 72px;
  }

  .form__slogan {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }

  .form__comment textarea {
    width: 631px;
  }

  .form__main-title {
    font-size: 60px;
    line-height: 60px;
  }

  .form__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 72px;
  }

  .form__button {
    margin: 0;
  }

  .form__sure-fields {
    align-items: stretch;
    text-align: start;
    margin-right: 174px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 1220px;
  }

  .form__wrapper {
    display: grid;
    grid-template-columns: 569px 570px;
    align-items: center;
  }

  .form__radio {
    margin-left: 80px;
  }

  .form__comment textarea {
    width: 1220px;
  }
}
