.form__main-title {
  font-size: 36px;
  line-height: 36px;
}

.form__slogan {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.form__main {
  display: flex;
  flex-direction: column;
  color: #444444;
}

.form__radio {
  display: flex;
  flex-direction: column;
  color: #222222;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
}

.form__comment textarea {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__contacts-info {
  display: flex;
  flex-direction: column;
}

.form__checkbox {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  padding: 7px 44px;
  background-color: @basic_green;
  text-decoration: none;
  color: @white;
  margin-top: 34px;
}

.form__sure-fields {
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  margin-top: 21px;
}
