.intro {
  color: @white;
  text-align: center;
  background-image: url("../img/green-cat-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 302px;
}

.intro__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding: 27px 35px 0 36px;
  margin-top: 0;
}

.intro__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.intro__selection-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  padding: 8px 44px;
  background-color: @basic_green;
  text-decoration: none;
  color: @white;
  width: 60%;
  display: inline-block;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(@white, 0.3);
  }
}

.intro__can-image {
  display: flex;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .intro {
    background-image: none;
    color: @black;
    display: flex;
    flex-direction: column;
    width: 710px;
    position: relative;
  }

  .intro__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    width: 414px;
    padding: 0;
    margin-left: 117px;
    margin-bottom: 41px;
    margin-top: 62px;
    order: 0;
    text-align: start;
  }

  .intro__slogan {
    font-size: 20px;
    line-height: 20px;
    order: 0;
    text-align: left;
    padding: 0;
    margin-left: 119px;
    margin-top: 0;
    margin-bottom: 49px;
  }

  .intro__selection-link {
    font-size: 20px;
    line-height: 20px;
    order: 1;
    padding: 16px 26px;
    width: 192px;
    position: absolute;
    left: 120px;
    top: 290px;
  }

  .intro__can-image {
    order: 2;
    margin-left: 30px;
    margin-top: -20px;
    z-index: 0;
    width: 709px;
    height: 609px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    width: 100%;
  }

  .intro__can-image {
    z-index: 5;
    width: 552px;
    height: 499px;
    margin: 0;
    margin-left: 558px;
    margin-top: -300px;
  }

  .intro__title {
    margin-left: 190px;
    margin-top: 126px;
  }

  .intro__slogan {
    margin-left: 190px;
  }

  .intro__selection-link {
    margin-left: 70px;
    top: 350px;
  }
}
