.item {
  padding-bottom: 28px;
  border-bottom: 1px solid #cdcdcd;
}

.item__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin-top: 12px;
}

.item__pack {
  font-family: @font-arial;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 20px;
}

.item__price {
  font-family: @font-arial;
  font-size: 14px;
  line-height: 14px;
}

.item__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: @special_dark-grey;
}

@media (min-width: @tablet-width) {
  .item {
    padding-bottom: 26px;
  }

  .item:nth-child(4) {
    border-bottom: none;
  }

  .item__title {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .item__pack {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .item__price {
    margin: 0;
    margin-left: 49px;
    font-size: 16px;
    line-height: 20px;
  }

  .item__wrapper-extra {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  .item__wrapper {
    margin-bottom: 3px;
    padding-top: 2px;
  }
}

@media (min-width: @desktop-width) {
  .item {
    padding-bottom: 10px;
  }

  .item__title {
    margin: 0;
    width: 200px;
  }

  .item__pack {
    margin-left: 125px;
    width: 150px;
    text-align: start;
  }

  .item__price {
    margin-left: 90px;
    width: 50px;
  }

  .item__wrapper {
    margin-bottom: 0;
    margin-top: 2px;
  }


  .item:nth-child(4) {
    border-bottom: 1px solid #cdcdcd;
  }
}
