.main-footer {
  background-color: @basic_grey;
  position: relative;
  padding-bottom: 14px;
}

.main-footer__logo-name {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
}
