.main-header {
  display: flex;
  flex-direction: column;
  color: @black;
  background-color: @white;
  position: relative;
  min-width: 320px;
  border-bottom: 1px solid @special_grey-2;
}

.main-header__logo-picture {
  height: 38px;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 17px;
}

.main-header__logo-picture:hover {
  opacity: 0.8;
}

.main-header__logo-picture:active {
  opacity: 0.6;
}

.main-header__logo-name {
  position: absolute;
  top: 23px;
  left: 35%;
}

@media (min-width: @tablet-width) {
  .main-header {
    border-bottom: none;
  }

  .main-header__logo-picture {
    height: 50px;
    margin-top: 24px;
    margin-left: 30px;
    padding-bottom: 0;
  }

  .main-header__logo-name {
    align-self: flex-start;
    top: 0;
    left: 0;
    margin-left: 102px;
    margin-top: 43px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    min-width: 1440px;
  }

  .main-header__logo-picture {
    height: 59px;
    margin-top: 53px;
    margin-left: 110px;
  }

  .main-header__logo-name {
    margin-top: 75px;
    margin-left: 194px;
    width: 118px;
    height: 22px;
  }
}
