.main__text-field {
  font-weight: 400px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main__text-field__input {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin-left: 16px;
  flex: 1;
}

@media (min-width: @tablet-width) {
  .main__text-field {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 18px;
  }

  .main__text-field label {
    margin-top: 3px;
    margin-left: 1px;
  }

  .main__text-field__input {
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 11px;
  }

  .main__text-field__input--invalid {
    border-color: #ff8282;
    border-width: 2px;
  }
}
