.main-catalog__list {
  list-style: none;
  width: 280px;
  display: grid;
  padding: 0;
  margin: auto;
}

.main-catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 41px;
  margin-left: 20px;
}

.main-catalog__product {
  list-style-type: none;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-areas:
    "picture title ."
    "picture description description"
    "button-primary button-primary button-primary";
}

.main-catalog__product__show-all {
  border-top: 1px solid #ebebeb;
}

@media (min-width: @tablet-width) {
  .main-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 150px;
    margin-left: 0;
  }

  .main-catalog__product {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
  }

  .main-catalog__product:nth-child(odd) {
    margin-right: 30px;
  }

  .main-catalog__product:nth-child(7) {
    margin-bottom: 0;
  }

  .main-catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 56px;
    margin-left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog__list {
    width: 1220px;
    margin-left: 110px;
    margin-top: 155px;
  }

  .main-catalog__title {
    margin-left: 110px;
    margin-top: 75px;
  }

  .main-catalog__product:nth-child(5),
  .main-catalog__product:nth-child(6),
  .main-catalog__product:nth-child(7) {
    margin-bottom: 15px;
  }

  .main-catalog__product:nth-child(odd) {
    margin-right: 0;
  }
}
