.main-nav {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  width: auto;
}

.main-nav__list {
  margin: 23px;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #e6e6e6;
}

.main-nav__item {
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 440px;
    position: absolute;
    top: -20px;
    right: 30px;
  }

  .main-nav__list a {
    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }

  .main-nav__list {
    background-image: url("../img/cat-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 720px;
    height: 694px;
    margin-right: 0;
    margin-top: 0;
    justify-content: space-around;
  }

  .main-nav__list--internal {
    background-image: none;
  }

  .main-nav__list a {
    margin-top: 71px;
  }

  .main-nav {
    color: @white;
    line-height: 30px;
  }
}
