.main-footer {
  background-color: @basic_grey;
  position: relative;
  padding-bottom: 14px;
}

.main-footer__logo-name {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo-name {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    position: relative;
  }

  .main-footer__contacts {
    z-index: 5;
    width: 565px;
    height: 198px;
    position: absolute;
    bottom: 230px;
    left: 110px;
  }
}
