.product {
  margin: 0 auto;
  position: relative;
  border-top: 1px solid #ebebeb;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: title;
  width: 76px;
  font-weight: 400;
  margin-top: 20px;
}

.product__image {
  grid-area: picture;
  margin-left: 26px;
}

.product__image--small {
  margin-left: 35px;
  margin-top: 45px;
}

.product__image--big {
  margin-top: 25px;
}

.product__link {
  height: 41px;
  text-decoration: none;
  color: @black;
}

.product__description {
  font-family: @font-arial;
  color: @special_dark-grey;
  font-size: 12px;
  line-height: 16px;
  grid-area: description;
  margin-top: 29px;
  margin-left: 3px;
  margin-bottom: 5px;
}

.product__description td tr {
  padding: 0;
}

td {
  padding: 0;
}

.product__description--value {
  text-align: end;
}

@media (min-width: @tablet-width) {
  .product {
    margin-top: 130px;
    margin-bottom: 130px;
    width: 324px;
    background-color: #f2f2f2;
  }

  .product__image {
    margin-top: -170px;
    margin-left: auto;
    margin-right: auto;
  }

  .product__image--small {
    width: 160px;
    height: 172px;
    padding: 0 82px;
    background-image: linear-gradient(@white, @white 45px, #f2f2f2, #f2f2f2 45px);
  }

  .product__image--big {
    width: 168px;
    height: 206px;
    padding: 0 78px;
    background-image: linear-gradient(@white, @white 58px, #f2f2f2, #f2f2f2 58px);
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    width: 150px;
    margin-top: 5px;
  }

  .product__description {
    font-size: 16px;
    margin-top: 40px;
    width: 252px;
  }

  .product__description td {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 8px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 245px;
  }

  .product__image {
    padding: 0 43px;
  }

  .product__image--big {
    padding: 0 37px;
  }

  .product__description {
    padding-left: 40px;
    padding-right: 40px;
  }
}
