.programs__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  position: relative;
}

.programs-article {
  background-color: @basic_grey;
  width: 280px;
  height: 266px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 91px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
}

.programs__description {
  font-family: @font-arial;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 20px;
  padding-right: 33px;
  margin: 0;
  padding-bottom: 23px;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 19px;
  padding-left: 19px;
}

@media (min-width: @tablet-width) {
  .programs__wrapper {
    margin-top: 280px;
  }

  .programs-article {
    width: auto;
  }

  .programs__title--slim::after {
    content: "";
    background-image: url("../img/cat_back_1_tablet.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    float: right;
  }

  .programs__title--fat::after {
    content: "";
    background-image: url("../img/cat_back_2_tablet.svg");
    background-repeat: no-repeat;
    width: 268px;
    height: 200px;
    float: right;
  }

  .programs__title {
    padding-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .programs__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 360px;
  }

  .programs__title--slim::after {
    display: none;
  }

  .programs__title--fat::after {
    display: none;
  }

  .programs__title--slim::before {
    content: "";
    background-image: url("../img/cat_back_1.svg");
    background-repeat: no-repeat;
    width: 100px;
    height: 106px;
    float: left;
  }

  .programs__title--fat::before {
    content: "";
    background-image: url("../img/cat_back_2.svg");
    background-repeat: no-repeat;
    width: 134px;
    height: 100px;
    float: left;
  }
}
