.programs__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 196px;
  position: relative;
}

.programs-article {
  background-color: @basic_grey;
  width: 280px;
  min-height: 266px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 91px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
}

.programs__description {
  font-family: @font-arial;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
  border-bottom: 1px solid @special_grey-2;
  padding-left: 20px;
  padding-right: 33px;
  margin: 0;
  padding-bottom: 22px;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 18px;
  padding-left: 19px;
  margin-top: 2px;
  text-decoration: none;
  color: @black;
  position: relative;
}

.programs__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 10px;
  left: 122px;
  bottom: 3px;
  background-image: url("../img/icon_arrow.svg");
  background-repeat: no-repeat;
  background-size: 32px 11px;
  background-position: right center;
}


@media (min-width: @tablet-width) {
  .programs__wrapper {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 226px;
  }

  .programs-article {
    width: auto;
    height: 280px;
    margin: 0;
    margin-bottom: 30px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding-left: 0;
    padding-bottom: 24px;
    margin-top: 17px;
    position: relative;
  }

  .programs__title--slim::after {
    content: "";
    background-image: url("../img/cat_back_1_tablet.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 220px;
    float: right;
  }

  .programs__title--fat::after {
    content: "";
    background-image: url("../img/cat_back_2_tablet.svg");
    background-repeat: no-repeat;
    width: 268px;
    height: 200px;
    position: absolute;
    right: -30px;
    top: 45px;
  }

  .programs__description {
    font-size: 16px;
    line-height: 24px;
    color: @black;
    border-bottom: none;
    width: 340px;
    padding: 0;
    margin-bottom: 52px;
    margin-right: 20px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: @black;
    position: relative;
    margin-top: 0;
    padding: 0;
  }

  .programs__link:active {
    opacity: 0.3;
  }

  .programs__link:hover::after {
    right: 0;
    width: 32px;
  }

  .programs__link::after {
    left: 133px;
    bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .programs__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 112px;
    margin-left: 0;
    margin-right: 0;
  }

  .programs__title--slim::after {
    display: none;
  }

  .programs__title--fat::after {
    display: none;
  }

  .programs__title--slim::before {
    content: "";
    background-image: url("../img/cat_back-1-desktop.svg");
    background-repeat: no-repeat;
    width: 100px;
    height: 106px;
    position: absolute;
    bottom: -11px;
    left: -162px;
  }

  .programs__title--fat::before {
    content: "";
    background-image: url("../img/cat_back-2-desktop.svg");
    background-repeat: no-repeat;
    width: 134px;
    height: 100px;
    position: absolute;
    bottom: -11px;
    left: -180px;
  }

  .programs__description {
    width: 467px;
    padding: 0;
    margin-top: 52px;
    margin-bottom: 27px;
  }

  .programs__title {
    padding-top: 0;
    margin-top: 30px;
    margin-left: 162px;
  }

  .programs__link {
    padding-left: 0;
  }
}
