.programms-article {
  background-color: @basic_grey;
  width: 280px;
  height: 266px;
  position: relative;
}

.programs-article--slim::before {
  content: "";
  background-image: url("../img/cat_back_1.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  background-position: center;
  position: absolute;
  margin-left: 22px;
  margin-top: 21px;
}

.programs-article--fat::before {
  content: "";
  background-image: url("../img/cat_back_2.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  background-position: center;
  position: absolute;
  margin-left: 13px;
  margin-top: 24px;
}

@media (min-width: @tablet-width) {
  .programs-article--slim::before {
    display: none;
  }

  .programs-article--fat::before {
    display: none;
  }

  .programs-article {
    padding: 30px 60px 62px 52px;
  }
}

@media (min-width: @desktop-width) {
  .programs-article {
    margin-right: 80px;
    margin-bottom: 0;
    padding: 47px 50px 59px 52px;
    width: 468px;
  }

  .programs-article--slim {
    margin-left: 110px;
  }
}
