.radio__option {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .radio__option {
    font-size: 20px;
    line-height: 30px;
  }

  .radio {
    border: 1px solid #e7e7e7;
    padding-left: 28px;
    padding-top: 25px;
    margin-bottom: 75px;
  }
}
