.show-all__title {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 0;
}

.show-all__text {
  font-family: @font-arial;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
  text-align: center;
  margin-bottom: 28px;
}

.show-all {
  position: relative;
}

.show-all::before {
  content: "";
  position: absolute;
  display: block;
  top: 37px;
  left: 125px;
  width: 30px;
  height: 2px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.show-all::after {
  content: "";
  position: absolute;
  display: block;
  top: 37px;
  left: 125px;
  width: 30px;
  height: 2px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  transform: rotate(90deg);
}

@media (min-width: @tablet-width) {
  .show-all {
    display: grid;
    width: 324px;
    height: 410px;
    margin: 0 auto;
    border: 2px solid #f2f2f2;
    margin-top: 20px;
  }

  .show-all__title {
    margin-top: 161px;
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin-left: auto;
    margin-right: auto;
  }

  .show-all::before {
    width: 60px;
    top: 54px;
  }

  .show-all::after {
    width: 60px;
    top: 54px;
  }

  .show-all__text {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .show-all {
    width: 245px;
  }

  .show-all::before {
    left: 90px;
  }

  .show-all::after {
    left: 90px;
  }
}
